<div class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide">Slide 01</li>
			<li class="splide__slide">Slide 02</li>
			<li class="splide__slide">Slide 03</li>
		</ul>
	</div>
</div>

{% schema %}
  {
    "name": "Custom Slider",
    "class": "custom-slider xx",
    "presets": [
      {
        "name": "Custom slider"
      }
    ]
  }
{% endschema %}