<div class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			<li class="splide__slide"><img src="https://source.unsplash.com/SPxVnxu_ZGM/800x600" alt=""></li>
			<li class="splide__slide"><img src="https://source.unsplash.com/LoLiXKJEvgE/800x600" alt=""></li>
			<li class="splide__slide"><img src="https://source.unsplash.com/F93PQmh4krI/800x600" alt=""></li>
		</ul>
	</div>
</div>

{% schema %}
  {
    "name": "Custom Slider",
    "class": "custom-slider xx",
    "presets": [
      {
        "name": "Custom slider"
      }
    ]
  }
{% endschema %}